<ion-header no-border>
  <ion-navbar transparent style="background-color: rgb(255, 255, 255, 0.8);">
    <ion-title>
      <h2>Flights</h2>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding>
  <!-- <ion-item [ngStyle]="{'font-size': '11px'}">
    <ion-icon class="fa fa-venus-mars" item-start small color="primary"></ion-icon>
    <ion-label>Gender</ion-label>
  </ion-item> -->
  <ion-searchbar (ionInput)="getflights($event)"></ion-searchbar>
  <h4>{{slide1_title}}</h4>
    <ion-slides slidesPerView="2">
      <ion-slide *ngFor="let slide of slide1$ | async; let i = index" class="card-slide">
          <img class="card-img" src="{{slide.img}}"/>
          <div class="card-title">{{slide.name_us}}</div>
      </ion-slide>
    </ion-slides>

  <h4>{{slide2_title}}</h4>
    <ion-slides slidesPerView="2">
      <ion-slide *ngFor="let slide of slide2$ | async; let i = index" class="card-slide">
          <img class="card-img" src="{{slide.img}}"/>
          <div class="card-title">{{slide.name_us}}</div>
      </ion-slide>
    </ion-slides>

  <h4>Recent Search</h4>
    <ion-slides slidesPerView="1">
    <ion-slide class="card-slide">
      <ion-card class="flight-card">
        <div>
            <img class="flightImage" src="../assets/imgs/cx.png" />
        </div>
        <ion-card-header>
            香港 ⇌ 大阪  
        </ion-card-header>
        <ion-card-content style="color:grey">
          11/9/2018 (Tue) - 18/9/2018 (Tue)
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>


</ion-content>
