<ion-header no-border>
  <ion-navbar no-padding>
    <br />
    <br />
    <br />
    <ion-title>
      <img style="width:45px;" src="../../assets/imgs/valaxing_logo.png"/>
      <img style="width:90px;" src="../../assets/imgs/valaxing_word.png"/>
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="openSearchBox(-1)">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> -->
    <div>
      

    </div>
    <ion-grid no-padding no-margin>
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin>
            <div class="top-left-btn">
                <img class="img-btn" src="../../assets/imgs/hotel_btn.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Hotel
            </div>
          </ion-col>
          <ion-col no-padding no-margin> 
              <div>
                <img class="img-btn" src="../../assets/imgs/flight_btn.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Flight
              </div>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin>
            <div class="bottom-left-btn">
                <img class="img-btn" src="../../assets/imgs/hotel_flight_btn.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Hotel + Flight
            </div>
          </ion-col>
          <ion-col no-padding no-margin>
            <div class="bottom-right-btn">
                <img class="img-btn" src="../../assets/imgs/activity_btn.png"/>&nbsp;&nbsp;&nbsp;&nbsp;Activity
            </div>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin>
            <div class="purple-line"> 
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding style="background-color: #f7f6fb">
  <!-- <ion-item [ngStyle]="{'font-size': '11px'}">
    <ion-icon class="fa fa-venus-mars" item-start small color="primary"></ion-icon>
    <ion-label>Gender</ion-label>
  </ion-item> -->
  <!-- <ion-searchbar (ionInput)="getflights($event)"></ion-searchbar> -->
  <h4>{{slide1_title}}</h4>
    <ion-slides slidesPerView="2.1">
      <ion-slide *ngFor="let slide of slide1$ | async; let i = index" class="card-slide" (click)="openSearchBox(i)">
          <img class="card-img" src="{{slide.img}}"/>
          <div class="card-title">{{slide.name_us}}</div>
      </ion-slide>
    </ion-slides>

  <h4>{{slide2_title}}</h4>
    <ion-slides slidesPerView="2.1">
      <ion-slide *ngFor="let slide of slide2$ | async; let i = index" class="card-slide">
          <img class="card-img" src="{{slide.img}}"/>
          <div class="card-title">{{slide.name_us}}</div>
      </ion-slide>
    </ion-slides>

  <h4>Recent Search</h4>
    <ion-slides slidesPerView="1.5">
    
      <ion-slide class="card-slide">
          <img class="card-img-recent" src="../../assets/imgs/nagoya_flight.jpg"/>
          <div class="card-title-recent">香港 ⇌ 大阪</div>
          <div class="card-subtitle">11/9/2018 (Tue) - 18/9/2018 (Tue)</div>
      </ion-slide>

    <!-- <ion-slide class="card-slide">
      <ion-card class="flight-card">
        <div>
            <img class="flightImage" src="../assets/imgs/cx.png" />
        </div>
        <ion-card-header>
            香港 ⇌ 大阪  
        </ion-card-header>
        <ion-card-content style="color:grey">
          11/9/2018 (Tue) - 18/9/2018 (Tue)
        </ion-card-content>
      </ion-card>
    </ion-slide> -->
  </ion-slides>


</ion-content>
